.cavendish {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.cavendish ol.slides {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 200px;
  height: 200px;
  background: #eeeeee;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;
  overflow: visible;
  color: #333333;
}
.cavendish ol.slides li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
.cavendish ol.slides li {
  *display: inline;
}
.cavendish ol.slides li {
  width: auto;
  height: auto;
  padding: 10px;
  background: none;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.cavendish .cavendish-before, .cavendish .cavendish-after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.cavendish .cavendish-onstage {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.cavendish .cavendish-pan {
  -webkit-transition: top 1s, left 1s;
  -moz-transition: top 1s, left 1s;
  -ms-transition: top 1s, left 1s;
  -o-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  position: absolute;
  z-index: 1;
}
.cavendish .cavendish-pan img {
  width: 135%;
  max-width: 135%;
}
