<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ page.relative_root }}/css/bootstrap.min.css">
  <style>
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  </style>
  <link rel="stylesheet" href="{{ page.relative_root }}/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{ page.relative_root }}/css/style.css">
  {% for style in page.styles %}
    <link rel="stylesheet" href="{{ page.relative_root }}/css/{{ style }}.css">
  {% endfor %}

  <script src="{{ page.relative_root }}/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ page.relative_root }}/index.html">Cavendish.js</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ page.relative_root }}/index.html">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% include example_list.html %}
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="https://github.com/michaek/cavendish.js">Source on github &raquo;</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      {{ content }}

      <hr>

      <footer>
        <p>&copy; Michael Hellein 2012</p>
      </footer>

    </div> <!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ page.relative_root }}/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="{{ page.relative_root }}/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="{{ page.relative_root }}/js/cavendish.js"></script>

{% for script in page.scripts %}
  <script src="{{ page.relative_root }}/js/{{ script }}.js"></script>
{% endfor %}

</body>
</html>
