.cavendish ol.slides {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 400px;
  height: 300px;
}
.cavendish ol.slides li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
.cavendish ol.slides li {
  *display: inline;
}
.cavendish ol.slides li {
  -webkit-transition: top 0.5s, left 0.5s;
  -moz-transition: top 0.5s, left 0.5s;
  -ms-transition: top 0.5s, left 0.5s;
  -o-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.cavendish ol.slides li:nth-child(1) {
  background-color: #fff10d;
}
.cavendish ol.slides li:nth-child(2) {
  background-color: red;
}
.cavendish ol.slides li:nth-child(3) {
  background-color: #7d0ce8;
}
.cavendish ol.slides li:nth-child(4) {
  background-color: #0883ff;
}
.cavendish ol.slides .cavendish-before {
  left: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.cavendish ol.slides .cavendish-after {
  left: -100%;
}
.cavendish ol.slides .cavendish-onstage {
  left: 0;
  font-weight: bold;
}
